.content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 40px; 
}

.data-list-content{
    display: flex;
    align-items: center;
    justify-content: center;

}

.contents-block{
    display: flex;
    flex-direction: column;
    background-color: #F0F8FF;
    width: 70%;
}

.contents-block > p{
    margin-left: 10px;
}

.code{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title{
    margin-bottom: 5px;
}

.description{
    margin-bottom: 5px;
}

.sort-number{
    margin: 0px 20px;
    font-size: 20px;
}

.js_edit_button{
    margin-left: 10px;
    font-size: 15px;
    
}

.process-title{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

/* .updata-btn{
    width
} */